Source: share
Section: httpd
Priority: optional
Maintainer: beavailable <beavailable@proton.me>
Build-Depends:
 debhelper-compat (= 13),
 dpkg-build-api (= 1),
Standards-Version: 4.7.2
Homepage: https://github.com/beavailable/share

Package: share
Architecture: all
Multi-Arch: foreign
Depends:
 ${misc:Depends},
 python3:any,
Suggests:
 bash-completion,
 python3-qrcode,
 python3-zstandard,
Description: Share and receive files effortlessly over HTTP
