#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_build:
	dh_auto_build
	mkdir build/; \
	cp share.py build/share

override_dh_auto_install:
	dh_auto_install
	dh_install build/share usr/bin/

override_dh_auto_clean:
	dh_auto_clean
	rm -rf build
