#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_build:
	dh_auto_build
	mkdir -p build/bin/ build/completions; \
	cp share.py build/bin/share; \
	cp share.bash.completion build/completions/share

override_dh_auto_install:
	dh_auto_install
	dh_install build/bin/* usr/bin/
	dh_install build/completions/* usr/share/bash-completion/completions/

override_dh_installsystemd:
	dh_installsystemd --no-enable --no-start --no-stop-on-upgrade

override_dh_auto_clean:
	dh_auto_clean
	rm -rf build
