name: Release

on:
  push:
    tags:
      - '*'

jobs:
  upload:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Upload to OBS
        uses: beavailable/obs-upload@main
        with:
          username: beavailable
          password: ${{ secrets.OBS_PASSWORD }}
          project: home:beavailable
          package: share
          type: deb
  build:
    strategy:
      matrix:
        include:
          - os: windows-latest
            arch: amd64
          - os: windows-11-arm
            arch: arm64
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.13
      - name: Install dependencies
        run: pip install zstandard qrcode
      - name: Build
        env:
          CCFLAGS: -Os
        uses: Nuitka/Nuitka-Action@main
        with:
          nuitka-version: main
          script-name: share.py
          windows-icon-from-ico: windows/favicon.ico
          file-version: ${{ github.ref_name }}
          product-version: ${{ github.ref_name }}
          output-file: share_${{ matrix.arch }}.exe
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: share_${{ matrix.arch }}
          path: build/share_${{ matrix.arch }}.exe
  release:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v5
        with:
          merge-multiple: true
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: share_*.exe
          fail_on_unmatched_files: true
          generate_release_notes: true
