name: Release

on:
  push:
    tags:
      - '*'

jobs:
  upload:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Upload to OBS
        uses: beavailable/obs-upload@main
        with:
          username: beavailable
          password: ${{ secrets.OBS_PASSWORD }}
          project: home:beavailable
          package: share
          type: deb
  build:
    strategy:
      matrix:
        os: [windows-latest, windows-11-arm]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Set up environment variables
        run: echo "ARCH=$($env:RUNNER_ARCH.ToLower())" >>"$env:GITHUB_ENV"
      - name: Checkout
        uses: actions/checkout@v5
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.14
      # - name: Install dependencies
      #   run: pip install qrcode
      - name: Build
        env:
          CCFLAGS: -Os
        uses: Nuitka/Nuitka-Action@main
        with:
          nuitka-version: main
          script-name: share.py
          nofollow-import-to: zstandard
          windows-icon-from-ico: windows/favicon.ico
          file-version: ${{ github.ref_name }}
          product-version: ${{ github.ref_name }}
          output-file: share_${{ env.ARCH }}.exe
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: share_${{ env.ARCH }}
          path: build/share_${{ env.ARCH }}.exe
  release:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v5
        with:
          merge-multiple: true
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: share_*.exe
          fail_on_unmatched_files: true
          generate_release_notes: true
